<nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-dark navbar-shadow">
	<div class="navbar-wrapper">
		<div class="navbar-header">
			<ul class="nav navbar-nav">
				<li class="nav-item mobile-menu hidden-md-up float-xs-left"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i
							class="icon-menu5 font-large-1"></i></a></li>
				<li class="nav-item"><a href="index.html" class="navbar-brand nav-link"><img alt="branding logo"
							src="app-assets/images/logo/logo_biz.png"
							data-expand="app-assets/images/logo/logo_biz.png"
							data-collapse="app-assets/images/logo/rsz_logo_leaf.png"
							class="brand-logo"></a></li>
				<li class="nav-item hidden-md-up float-xs-right"><a data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container"><i
							class="icon-ellipsis pe-2x icon-icon-rotate-right-right"></i></a></li>
			</ul>
		</div>
		<div class="navbar-container content container-fluid">
			<div id="navbar-mobile" class="collapse navbar-toggleable-sm">
				<ul class="nav navbar-nav">
					<li class="nav-item hidden-sm-down"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i
								class="icon-menu5"> </i></a></li>
					<li class="nav-item hidden-sm-down"><a toggleFullscreen class="nav-link nav-link-expand"><i
								class="ficon icon-expand2"></i></a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li class="dropdown nav-item"><a href="#" data-toggle="dropdown" id="dropdownMenu1" class="dropdown-toggle nav-link">Select Company</a>
						<ul align="center" class="dropdown-menu row" aria-labelledby="dropdownMenu1">
							<li class="nav-bar-li"><a class="ahref-colr" href="#">Southern
										Cogen</a></li>
							<li class="nav-bar-li"><a class="ahref-colr" href="#">Manipal
										MCT</a></li>
							<li class="nav-bar-li"><a class="ahref-colr" href="#">Kaatizone</a></li>
							<li class="nav-bar-li"><a class="ahref-colr" href="#">Citec
										india</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav float-xs-right">
					<li class="dropdown nav-item mega-dropdown"><a data-toggle="dropdown" class="dropdown-toggle nav-link">Biz
								User Menu</a>
						<ul align="center" class="mega-dropdown-menu dropdown-menu row">
							<li class="col-md-2">
								<h6 class="dropdown-menu-header text-uppercase mb-1">
									<i class="icon-list"></i> Masters
								</h6>
								<div id="mega-menu-carousel-example" class="responsive-slick">
									<div>
										<ul>
											<li class="nav-bar-li"><a href="ClientMaster.html">Client</a></li>
											<li class="nav-bar-li"><a routerLink="/landing/company" routerLinkActive="active">Company</a></li>
											<li class="nav-bar-li"><a href="GroupCompany.html">Group
														Company</a></li>
											<li class="nav-bar-li"><a href="UserRole.html">User
														Role</a></li>
											<li class="nav-bar-li"><a href="UserMaster.html">User</a></li>
											<li class="nav-bar-li"><a href="UserMapping.html">User
														Mapping</a></li>
										</ul>
									</div>
								</div>
							</li>
							<li class="col-md-2">
								<h6 class="dropdown-menu-header text-uppercase mb-1">
									<i class="icon-list"></i> Transactions
								</h6>
								<div id="mega-menu-carousel-example" class="responsive-slick">
									<div>
										<ul>
											<li class="nav-bar-li"><a href="#">Client</a></li>
											<li class="nav-bar-li"><a href="#">Company</a></li>
											<li class="nav-bar-li"><a href="#">Group Company</a></li>
											<li class="nav-bar-li"><a href="#">User Role</a></li>
											<li class="nav-bar-li"><a href="#">User</a></li>
											<li class="nav-bar-li"><a href="#">User Mapping</a></li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<!--               <li class="dropdown dropdown-language nav-item"><a id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle nav-link"><i class="flag-icon flag-icon-gb"></i><span class="selected-language">English</span></a>
                <div aria-labelledby="dropdown-flag" class="dropdown-menu"><a href="#" class="dropdown-item"><i class="flag-icon flag-icon-gb"></i> English</a><a href="#" class="dropdown-item"><i class="flag-icon flag-icon-fr"></i> French</a><a href="#" class="dropdown-item"><i class="flag-icon flag-icon-cn"></i> Chinese</a><a href="#" class="dropdown-item"><i class="flag-icon flag-icon-de"></i> German</a></div>
              </li> -->
					<li class="dropdown dropdown-notification nav-item"><a href="#" data-toggle="dropdown" class="nav-link nav-link-label"><i
								class="ficon icon-bell4"></i><span
								class="tag tag-pill tag-default tag-danger tag-default tag-up">5</span></a>
						<ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
							<li class="dropdown-menu-header">
								<h6 class="dropdown-header m-0">
									<span class="grey darken-2">Notifications</span><span class="notification-tag tag tag-default tag-danger float-xs-right m-0">5
											New</span>
								</h6>
							</li>
							<li class="list-group scrollable-container">
								<a href="javascript:void(0)" class="list-group-item">
									<div class="media">
										<div class="media-left valign-middle">
											<i class="icon-cart3 icon-bg-circle bg-cyan"></i>
										</div>
										<div class="media-body">
											<h6 class="media-heading">You have new order!</h6>
											<p class="notification-text font-small-3 text-muted">Lorem ipsum dolor sit amet, consectetuer elit.</p>
											<small> <time datetime="2015-06-11T18:29:20+08:00"
														class="media-meta text-muted">30 minutes ago</time></small>
										</div>
									</div>
								</a>
								<a href="javascript:void(0)" class="list-group-item">
									<div class="media">
										<div class="media-left valign-middle">
											<i class="icon-monitor3 icon-bg-circle bg-red bg-darken-1"></i>
										</div>
										<div class="media-body">
											<h6 class="media-heading red darken-1">99% Server load</h6>
											<p class="notification-text font-small-3 text-muted">Aliquam tincidunt mauris eu risus.</p>
											<small> <time datetime="2015-06-11T18:29:20+08:00"
														class="media-meta text-muted">Five hour ago</time></small>
										</div>
									</div>
								</a>
								<a href="javascript:void(0)" class="list-group-item">
									<div class="media">
										<div class="media-left valign-middle">
											<i class="icon-server2 icon-bg-circle bg-yellow bg-darken-3"></i>
										</div>
										<div class="media-body">
											<h6 class="media-heading yellow darken-3">Warning notifixation
											</h6>
											<p class="notification-text font-small-3 text-muted">Vestibulum auctor dapibus neque.</p>
											<small> <time datetime="2015-06-11T18:29:20+08:00"
														class="media-meta text-muted">Today</time></small>
										</div>
									</div>
								</a>
								<a href="javascript:void(0)" class="list-group-item">
									<div class="media">
										<div class="media-left valign-middle">
											<i class="icon-check2 icon-bg-circle bg-green bg-accent-3"></i>
										</div>
										<div class="media-body">
											<h6 class="media-heading">Complete the task</h6>
											<small> <time datetime="2015-06-11T18:29:20+08:00"
														class="media-meta text-muted">Last week</time></small>
										</div>
									</div>
								</a>
								<a href="javascript:void(0)" class="list-group-item">
									<div class="media">
										<div class="media-left valign-middle">
											<i class="icon-bar-graph-2 icon-bg-circle bg-teal"></i>
										</div>
										<div class="media-body">
											<h6 class="media-heading">Generate monthly report</h6>
											<small> <time datetime="2015-06-11T18:29:20+08:00"
														class="media-meta text-muted">Last month</time></small>
										</div>
									</div>
								</a>
							</li>
							<li class="dropdown-menu-footer"><a href="javascript:void(0)" class="dropdown-item text-muted text-xs-center">Read all
										notifications</a></li>
						</ul>
					</li>
					<li class="dropdown dropdown-user nav-item"><a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link"><span
								class="avatar avatar-online"><img
									src="app-assets/images/portrait/small/avatar-s-1.png"
									alt="avatar"><i></i></span><span class="user-name">Rishwanth</span></a>
						<div class="dropdown-menu dropdown-menu-right">
							<a href="ChangePassword.html" class="dropdown-item"><i
									class="icon-unlock-alt"></i> Change Password</a>
							<div class="dropdown-divider"></div>
							<a href="index.html" class="dropdown-item"><i
									class="icon-power3"></i> Logout</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<!-- ////////////////////////////////////////////////////////////////////////////-->
<!-- main menu-->
<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
	<!-- main menu header-->
	<div class="main-menu-header">
		<input type="text" placeholder="Search" class="menu-search form-control round" />
	</div>
	<!-- / main menu header-->
	<!-- main menu content-->
	<div class="main-menu-content">
		<ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
			<li class=" nav-item"><a href="dashboard.html"><i
						class="icon-home3"></i><span data-i18n="nav.dash.main"
						class="menu-title">Dashboard</span><span
						class="tag tag tag-primary tag-pill float-xs-right mr-2">2</span></a>
				<ul class="menu-content">
					<li class="active"><a href="Dashboard.html" data-i18n="nav.dash.main" class="menu-item">P2P</a></li>
					<li><a href="dashboard-2.html" data-i18n="nav.dash.main" class="menu-item">Trial Balance</a></li>
				</ul>
			</li>
			<!-- 				<li class=" nav-item"><a href="#"><i class="icon-paper"></i><span
						data-i18n="nav.page_layouts.main" class="menu-title">Masters</span></a>
					<ul class="menu-content">
						<li><a href="ClientMaster.html"
							data-i18n="nav.page_layouts.1_column" class="menu-item">Client</a>
						</li>
						<li><a href="CompanyMaster.html"
							data-i18n="nav.page_layouts.2_columns" class="menu-item">Company</a>
						</li>
						<li><a href="layout-boxed.html"
							data-i18n="nav.page_layouts.boxed_layout" class="menu-item">Group
								Company</a></li>
						<li><a href="UserRole.html"
							data-i18n="nav.page_layouts.static_layout" class="menu-item">User
								Role</a></li>
						<li class="navigation-divider"></li>
						<li><a href="UserMaster.html"
							data-i18n="nav.page_layouts.light_layout" class="menu-item">User</a>
						</li>
						<li><a href="UserMapping.html"
							data-i18n="nav.page_layouts.dark_layout" class="menu-item">User
								Mapping</a></li>
					</ul></li> -->
			<li class=" nav-item"><a href="#"><i
						class="icon-briefcase4"></i><span data-i18n="nav.project.main"
						class="menu-title">Transactions</span></a>
				<ul class="menu-content">
					<li><a href="AdvanceRequest.html" data-i18n="nav.invoice.invoice_template" class="menu-item">Advance
								Requests</a></li>
					<li><a href="CashRequest.html" data-i18n="nav.gallery_pages.gallery_grid" class="menu-item">Request
								Cash</a></li>
					<li><a href="PettyCash.html" data-i18n="nav.search_pages.search_page" class="menu-item">Petty
								Cash Statement Upload</a></li>
					<li><a href="ChequePrinting.html" data-i18n="nav.search_pages.search_website" class="menu-item">Cheque
								Printing at Client End</a></li>
					<li><a href="ChequePayments.html" data-i18n="nav.search_pages.search_website" class="menu-item">Cheque
								Payments made by Client</a></li>
					<!-- 						<li><a href="#" data-i18n="nav.error_pages.main"
							class="menu-item">Error</a>
							<ul class="menu-content">
								<li><a href="error-400.html"
									data-i18n="nav.error_pages.error_400" class="menu-item">Error
										400</a></li>
								<li><a href="error-401.html"
									data-i18n="nav.error_pages.error_401" class="menu-item">Error
										401</a></li>
								<li><a href="error-403.html"
									data-i18n="nav.error_pages.error_403" class="menu-item">Error
										403</a></li>
								<li><a href="error-404.html"
									data-i18n="nav.error_pages.error_404" class="menu-item">Error
										404</a></li>
								<li><a href="error-500.html"
									data-i18n="nav.error_pages.error_500" class="menu-item">Error
										500</a></li>
							</ul></li> -->
				</ul>
			</li>
			<li class=" nav-item"><a href="#"><i class="icon-table2"></i><span
						data-i18n="nav.cards.main" class="menu-title">Reports</span></a>
				<ul class="menu-content">
					<li><a href="#" data-i18n="nav.cards.card_bootstrap" class="menu-item">Trial
								Balance Report</a></li>
					<li><a href="#" data-i18n="nav.cards.card_actions" class="menu-item">Payables
								Report</a></li>
				</ul>
			</li>
			<!-- <li class="disabled nav-item"><a href="#"><i class="icon-eye-disabled"></i><span data-i18n="nav.disabled_menu.main" class="menu-title">Disabled Menu</span></a>
          </li> -->
		</ul>
	</div>
	<!-- /main menu content-->
	<!-- main menu footer-->
	<!-- include includes/menu-footer-->
	<!-- main menu footer-->
</div>

<router-outlet></router-outlet>

<footer class="footer footer-static footer-light navbar-border">
	Copyright <i class="icon-copyright"> 2017</i> <img style="float: right; width: 80px;" src="app-assets/images/logo/footer.jpg"
	 alt="logo">
</footer>